body{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.item img{
  width: 100%;
}
.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin: 20px
}
